* {
  text-align: center;
  margin: auto;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}

div{
  padding :10px;  
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: grid;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  border: 2px solid blue;
  box-sizing: border-box;
  background: lightgray;
}

.logo {
  vertical-align: middle;
  width: 100px;
}

.text {
  color: lightslategray;
  font-family: 'Open Sans', sans-serif;
}

.language {
  margin: 0;
  margin-bottom: 10px;
}

select {
  padding: 8px;
  border: 2px solid lightgray;
  border-radius: 7px;
  cursor: pointer;
  outline: 0;
}

.textarea {
  width: auto;
  height: 120px;
  border: 1.5px solid blue;
  border-radius: 7px;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  outline: 0;
  text-align: left;
}

button {
  background-color: blue;
  border: 0;
  color: #fefbef;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1;
  margin-top: 1.5rem;
  width: 100%;
}

button:hover {
  background-color: darkgreen;
  cursor: pointer;
}

